/* ================    HEADER      ==================== */

#header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header__nav-top-wrapper{
    background-color: var(--secondary-color);
    height: var(--top-nav-height);
}


.header__nav-top{
    height: 100%;
    justify-content: end;

}

.header__nav-top-item{
    position: relative;
    height: 100%;
    font-size: 1.2rem;
    padding: 0 12px;
    display: flex;
    align-items: center;
}

.header__nav-top-item a{
    color: var(--text-white);
    text-decoration: none;
}

.header__nav-top-item::after{
    content: "";
    width: 1px;
    height: 12px;
    background-color: var(--text-white);
    transform: translateX(12px);
}

.header__nav-top-item:last-child::after{
    display: none;
}

.header__nav-top-item:hover > a {
    color: #ccc;
}

.header__help-list-wrapper{
    padding: 20px 16px 16px;
    background-color: #424556 ;
    list-style: none;
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    animation: appearIn linear 0.2s;
    z-index: 1;
}

.header__help-list:hover .header__help-list-wrapper{
    display: block;
}

.header__help-item{
    font-size: 1.4rem;
    line-height: 2.4em;
    padding: 0 8px;
    min-width: 200px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.header__help-item a{
    color: #c3c3c3;
}

.header__help-item:hover a{
    color: var(--text-white);
}

.header__help-item h2{
   color: var(--text-white);
   padding: 8px 0;
}

.header__nav-main-wrapper{
    position: relative;
    background-color: var(--subject-color);
    height: 50px;
}

.header__nav-main{
    height: 100%;
    justify-content: space-between;
}

.header__logo{
    display: flex;
    align-items: center;
}

.header__logo-img{
    display: block;
    width: 60px;
}

.header__category{
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.header__category-item{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px;
    justify-content: center;
    color: var(--text-white);
    cursor: pointer;
}

/* .header__category-item:after{
    position: absolute;
    top: 100%;
    content: "";
    height: 40px;
    width: 100%;
    background-color: aqua;
    display: none;
} */

.nav-item-hover:hover{
    border-bottom: solid 2px var(--text-white);
}

.nav-item-hover:hover .header__toggle-nav{
    display: flex;
}

.header__category:hover .header__toggle-nav-wrapper{
    transform: translateY(0);
}


.header__category-item a{
    color: var(--text-white);
    text-decoration: none;
}

.nav-item-hover:hover .header__toggle-nav-wrapper{
    transform: translateY(0);
    z-index: -1;
}
.header__toggle-nav-wrapper{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    padding: 18px 12px;
    background-color: var(--secondary-color);
    z-index: -1;
    transform: translateY(-100%);
    transition: transform linear 0.3s;
    will-change: transform;
    z-index: -999;
}

.header__toggle-nav {
    animation: appearIn ease-in 0.5s;
    display: none;
} 

.header__toggle-nav-component-title{
    font-size: 1.8rem;
    color: var(--text-white);
    padding: 18px 0;
}

.header__toggle-nav-element{
    color: #919090;
    font-size: 1.4rem;
    padding: 10px 0;
    transition: transform linear 0.1s;
    will-change: transform;
}

.header__toggle-nav-element:hover{
    color: var(--text-white);
    transform:translateX(8px);
}

.header__nav-main-items{
    color: var(--text-white);
    display:flex;
    align-items: center;
}

.header__nav-main-item{
    display: flex;
    align-items: center;
    margin-left: 8px ;
    padding: 10px 20px;
    font-size: 1.6rem;
    height: 100%;
}

.header__nav-main-items:not(.header__nav-main-item:first):hover .header__toggle-nav-wrapper{
    transform: translateY(0);
}

.header__search{
    position: relative;
    padding: 2px;
    height: 70%;
    width: 250px;
    display: flex;
    align-items: center;
    background-color: var(--text-white);
}

.header__search-icon{
    display: flex;
    align-items: center;
    padding: 9px 14px;
    color: var(--text-white);
    background-color: var(--subject-color);
    border: none;
    cursor: pointer;
}

.header__search-icon:hover{
    opacity: 0.8;
}

.header__search-zone{
    color: #535353;
    padding: 4px 8px;
    width: 100%;
    font-size: 1.6rem;
    background-color: var(--text-white);
    border: none;
    outline: none;
}

.header__search-zone:focus ~ .header__search-history{
    display: block;
}

.header__search-history{
    color: #9c9c9c;
    position: absolute;
    width: 100%;
    top: 121%;
    left: 0;
    background-color: #f5f5f5;
    animation: appearIn linear 0.2s;
    display: none;
}

.header__search-history-title{
    padding: 12px 12px 10px;
}

.header__search-history-item{
    font-size: 1.4rem;
    padding: 8px 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    cursor: pointer;
}

.header__search-history-item:hover{
    background-color: #dedddd;
}

.header_favourite i,
.header__cart i,
.header__user i{
    font-size: 2rem;
}

.header__toggle-nav-header{
    width: 100%;
}

.header__toggle-nav-header h4{
   padding: 0 0 20px;
}

.header__toggle-nav-body {
    width: 100%;
    font-size: 1.4rem;
    color: var(--text-white);
}

.header__good-infor{
    width: 100%;
}

.header__good-img{
    background-image: url("/assets/image/af1.jpg");
    width: auto;
    height: auto;
}
.header__good-quantity{
    display: flex;
    justify-content: end;
}

.header__toggle-nav-footer{
    width: 100%;
    display: flex;
    justify-content: end;
}

.header__view-cart{
    background-color: var(--subject-color);
    color: var(--text-white);
    padding: 8px 12px;
    border: none;

}


.header__cart .header__toggle-nav-wrapper{
    transform: translateY(0);
}

.header__cart .header__toggle-nav {
   display: flex;
}